[config]
client_id = some_long_ID
client_secret = the_secret_you_got_when_you_made_the_app
access_token = access_token_from_API_results
refresh_token = refresh_token_from_API_results
file_id = file_id_sorry_gotta_google_this_one_yourself_or_use_docs_here:https://developers.google.com/drive/v2/reference/files/list
